name: Installing Python3

on: push

jobs:
  build:
    runs-on: macos-14
    steps:
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.12.0-alpha.5
        




